/* base.css */
body { 
    padding-left: 1rem;
    padding-right: 1rem;
}

.kacca {
    

    margin-left: auto;
    margin-right: auto;
    
    width: 20em;   
    height: 30em;

    padding: 1rem;

    border: solid;
    border-color: #f7f7f7;
}

.grid {
    grid-template-columns: 5em 5em 5em ;
    justify-content: center;
    gap: 20px, 20px;
}

.grid div.htmx-swapping {
    opacity: 0;
    transition: opacity 2s ease-out;
}


a {
    text-decoration: none;
}

/* layout.css */
.nav {
    background-color: #f0f0f0;
}
.nav-list {
    list-style: none;
    padding: 0;
}
.nav-item {
    display: inline-block;
}

/* module.css */
.nav-link {
    display: block;
    padding: 10px 20px;
    color: #333;
}
.nav-link:hover {
    background-color: #ddd;
}

/* state.css */
.nav-link.is-active {
    font-weight: bold;
    color: #000;
}





